.Rproj.user
.Rhistory
.RData
.Ruserdata
text
code/Analyzing_Table1_data.Rmd
Analyzing_Table_1_data.Rmd
code/Analyzing_Table_1_data.Rmd
code/Analysis_achievement_youth.Rmd
code/Analysis_achievement_youth.R
code/Analysis_achievement_youth.md
code/Analysis_benevolence_youth.Rmd
code/Analysis_benevolence_youth.md
code/Analysis_benevolence_youth.R
code/Analysis_power_youth.Rmd
code/Analysis_power_youth.md
code/Analysis_power_youth.R
code/Analysis_stimulation_youth.Rmd
code/Analysis_stimulation_youth.R
code/Analysis_stimulation_youth.md
code/Analysis_universalism_youth.Rmd
code/Analysis_universalism_youth.R
code/Analysis_universalism_youth.md
code/Analysis_universalism_og.Rmd
