.Rproj.user
.Rhistory
.RData
.Ruserdata
text
code/Analyzing_Table1_data.Rmd
Analyzing_Table_1_data.Rmd
code/Analyzing_Table_1_data.Rmd
code/Analysis_achievement_youth.Rmd
code/Analysis_achievement_youth.R
code/Analysis_achievement_youth.md
