Analysis_og.Rmd
Analysis_youth_og.Rmd
repeated_gei.R
temp_script.R
temp_script_GEP.R
understanding_RQ3.R
Analysis_files
Analysis_youth_files
Analysis_achievement_files
Analysis_benevolence_files
Analysis_stimulation_files
Analysis_universalism_files
Analysis_power_files
apukoodia.R
Analyzing_Table_1.Rmd
script_for_cl_power_analysis.R
Analysis_stimulation_og.Rmd
Analysis_achievement_og.Rmd
Analysis_benevolence_og.Rmd
Analysis_power_og.Rmd
Analysis_universalism_og2.Rmd
Analyzing_Table_1_data.Rmd
